* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--background-color);
  padding: 2.5rem 15rem;
}

:root {
  --background-color: linear-gradient(to right, #272727 0%, #38273B 100%);
  --text-color-light: #fff;
  --text-color-pink: #DF78B9;
}

#home-wrapper {
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 9rem;
}

#hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
  HEADER
*/

.header-wrapper h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-light);
}

.header-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4rem;
}

.header-btn button {
  border: none;
  padding: .2rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color-light);
}

/* 
  HERO
*/

.hero-text {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: var(--text-color-pink);
}

.hero-text p {
  font-size: 24px;
  color: var(--text-color-light);
}

.hero-title {
  font-size: 85px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--text-color-light);
}

.highlight {
  color: var(--text-color-pink);
}

.hero-img img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.hero-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 14rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}